nodered.txt
[{"id":"dec85185.1eed","type":"light-scheduler","z":"423e4e09.07f22","settings":"bc023b9.e858cc8","events":"[{\"start\":{\"dow\":1,\"mod\":480},\"end\":{\"dow\":1,\"mod\":840}},{\"start\":{\"dow\":2,\"mod\":480},\"end\":{\"dow\":2,\"mod\":840}},{\"start\":{\"dow\":3,\"mod\":480},\"end\":{\"dow\":3,\"mod\":840}},{\"start\":{\"dow\":4,\"mod\":480},\"end\":{\"dow\":4,\"mod\":840}},{\"start\":{\"dow\":5,\"mod\":480},\"end\":{\"dow\":5,\"mod\":840}}]","topic":"","name":"Roomba Schedule","onPayload":"start","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":130,"y":960,"wires":[["161fd80c.a35e08","3079ec53.274f54"]]},{"id":"70f0ee7f.07e61","type":"mqtt out","z":"423e4e09.07f22","name":"roomba/commands","topic":"roomba/commands","qos":"0","retain":"false","broker":"cd47f7.b0f6f808","x":1050,"y":980,"wires":[]},{"id":"d3b05a84.d7e9e8","type":"api-current-state","z":"423e4e09.07f22","name":"House Guests","server":"1e776005.3ee9b","halt_if":"on","entity_id":"input_boolean.house_guests","x":700,"y":980,"wires":[["eb5f04fb.7e8228"]]},{"id":"eb5f04fb.7e8228","type":"change","z":"423e4e09.07f22","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":980,"wires":[["70f0ee7f.07e61"]]},{"id":"161fd80c.a35e08","type":"function","z":"423e4e09.07f22","name":"start","func":"if (msg.payload == \"start\"){\nreturn msg;}","outputs":1,"noerr":0,"x":330,"y":980,"wires":[["e88cfc9.9bdc9"]]},{"id":"e88cfc9.9bdc9","type":"api-current-state","z":"423e4e09.07f22","name":"House Occupied","server":"1e776005.3ee9b","halt_if":"on","entity_id":"input_boolean.home_occupied","x":500,"y":980,"wires":[["d3b05a84.d7e9e8"]]},{"id":"3079ec53.274f54","type":"change","z":"423e4e09.07f22","name":"","rules":[{"t":"set","p":"roombaSchedule","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":920,"wires":[[]]},{"id":"f6e3720a.416e7","type":"mqtt in","z":"423e4e09.07f22","name":"roomba/charging","topic":"roomba/charging","qos":"2","broker":"cd47f7.b0f6f808","x":140,"y":1040,"wires":[["1f8a8d32.488533"]]},{"id":"1f8a8d32.488533","type":"rbe","z":"423e4e09.07f22","name":"Report Once","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":350,"y":1040,"wires":[["eaccfd94.66ef"]]},{"id":"aac20d0c.a64a4","type":"mqtt out","z":"423e4e09.07f22","name":"roomba/commands","topic":"roomba/commands","qos":"2","retain":"false","broker":"cd47f7.b0f6f808","x":1050,"y":1040,"wires":[]},{"id":"2dd7ab5d.325634","type":"change","z":"423e4e09.07f22","name":"Set to roombaSchedule","rules":[{"t":"set","p":"payload","pt":"msg","to":"roombaSchedule","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1040,"wires":[["aac20d0c.a64a4"]]},{"id":"88654c36.4b1b2","type":"mqtt in","z":"423e4e09.07f22","name":"roomba/charging","topic":"roomba/charging","qos":"2","broker":"cd47f7.b0f6f808","x":140,"y":1340,"wires":[["383437c9.27f958"]]},{"id":"8c01cfde.0d9a3","type":"mqtt in","z":"423e4e09.07f22","name":"roomba/status","topic":"roomba/status","qos":"2","broker":"cd47f7.b0f6f808","x":130,"y":1220,"wires":[["c1b9f5fc.dd2a28"]]},{"id":"383437c9.27f958","type":"switch","z":"423e4e09.07f22","name":"Charging State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":340,"y":1340,"wires":[["14a4b870.a45908"],["bbd417e5.1dd658"],["bbd417e5.1dd658"],["bbd417e5.1dd658"],["14a4b870.a45908"],["cb79836d.52668"]]},{"id":"5625e75b.e7edf8","type":"mqtt out","z":"423e4e09.07f22","name":"roomba/currentStatus","topic":"roomba/currentStatus","qos":"2","retain":"false","broker":"cd47f7.b0f6f808","x":880,"y":1300,"wires":[]},{"id":"14a4b870.a45908","type":"change","z":"423e4e09.07f22","name":"get last command","rules":[{"t":"set","p":"payload","pt":"msg","to":"roomba","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1300,"wires":[["5625e75b.e7edf8"]]},{"id":"c1b9f5fc.dd2a28","type":"change","z":"423e4e09.07f22","name":"save roomba last command","rules":[{"t":"set","p":"roomba","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1220,"wires":[[]]},{"id":"bbd417e5.1dd658","type":"change","z":"423e4e09.07f22","name":"Charging","rules":[{"t":"set","p":"payload","pt":"msg","to":"Charging","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1360,"wires":[["5625e75b.e7edf8"]]},{"id":"cb79836d.52668","type":"switch","z":"423e4e09.07f22","name":"Error","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":1420,"wires":[["5625e75b.e7edf8"]]},{"id":"eaccfd94.66ef","type":"function","z":"423e4e09.07f22","name":"Trickle Charging","func":"if (msg.payload == \"3\"){\nreturn msg;}","outputs":1,"noerr":0,"x":560,"y":1040,"wires":[["2dd7ab5d.325634"]]},{"id":"bc023b9.e858cc8","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"99.890814","longitude":"-99.50234640000001"},{"id":"cd47f7.b0f6f808","type":"mqtt-broker","z":"","broker":"192.168.86.168","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1e776005.3ee9b","type":"server","z":"","name":"Home Assistant","url":"https://yourhomeassistant.duckdns.org:8123","pass":"notMyPassword"}]